*.exe
*.exe~
*.orig
.*.swp
.DS_Store
Thumbs.db
.editorconfig
/build/
/cli/winresources/versioninfo.json
/cli/winresources/*.syso
profile.out

/data-seeding/
/dist/

# top-level go.mod is not meant to be checked in
/go.mod
/go.sum